html {
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
    background-color: black;
    color: lime;
}
body{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: rgb(191, 255, 0);
    transition-duration: 0.4s;
}
a:hover{
    color: white;
    text-decoration: underline;
}
nav{
    display: flex;
    position: fixed;
}
.title{
    margin-block-start: 0;
    margin-block-end: 0;
}
.navlinks{
    right: 0;
    position: fixed;
}
iframe{
    position: absolute;
    top: 0;
    visibility: hidden;
}
table, tr, td {
    border: 1px solid lime;
}
#html {
    visibility: hidden;
}
button{
    background: #191919;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: rgb(191, 255, 0);
}
input{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    background: #191919;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    color: lime;
}