html {
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: rgb(0, 128, 255);
    transition-duration: 0.4s;
}
a:hover{
    color: black;
    text-decoration: underline;
}
nav{
    display: flex;
    position: fixed;
}
.title{
    margin-block-start: 0;
    margin-block-end: 0;
}
.navlinks{
    right: 0;
    position: fixed;
}
iframe{
    position: absolute;
    top: 0;
    visibility: hidden;
}